<div id="sidebar" class="dark-blue-bg">
  <div class="group" *ngFor="let item of result; let i = index">
    <a
      *ngIf="item.submenu.length"
      (click)="ddToggle(i)"
      class="light-blue-bg"
      >{{ item.linkText }}</a
    >
    <a
      *ngIf="!item.submenu.length"
      (click)="ddToggle(i)"
      routerLink="{{ item.parentLink }}"
      class="light-blue-bg"
      >{{ item.linkText }}</a
    >
    <div class="sub-menu" [ngClass]="{ 'show-menu': item.menu }">
      <ul *ngFor="let menu of result[i].submenu">
        <li>
          <a href="{{ menu.link }}" target="_blank">{{ menu.childtext }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-border"></div>
</div>
