#sidebar {
  height: 100%;
  font: normal 11pt sans-serif;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;

  .group {
    border-bottom: 1px solid black;
    overflow: hidden;
    > a {
      color: white;
      padding: 7px 0 6px 20px;
      display: block;
      cursor: pointer;
    }
  }

  .sub-menu {
    transition: max-height 0.5s;
    max-height: 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      background-color: #161a26;
      font: normal 10pt sans-serif;
      line-height: 19px;
      letter-spacing: 0.1pt;
      a {
        color: white;
        padding: 7px 0 6px 20px;
        text-decoration: none;
        cursor: pointer;
        display: block;
      }
      &:hover {
        background-color: #03658c;
        color: #ffffff;
      }
    }
  }
}

.show-menu {
  max-height: 1000px !important;
}

.right-border {
  background-color: #03658c;
  position: absolute;
  width: 1px;
  height: calc(100% - 50px);
  right: 0;
  top: 50px;
}
